---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const title = "Posts";
const description = "Latest articles.";
const site = Astro.site?.href;
const permalink = `${site}posts`;

let allPosts = await getCollection("posts");
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
);
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="posts"
>
  <div class="container">
    <h1>Posts</h1>
    {
      allPosts.map((post, index) => {
        const href = `/posts/${post.id}/`;
        return (
          <div>
            {index !== 0 && <hr />}
            <div class="post-item">
              <h2>
                <a href={href}>{post.data.title}</a>
              </h2>
              <p>{post.data.description}</p>
              <div class="post-item-footer">
                <span class="post-item-date">
                  —{" "}
                  {new Date(post.data.pubDate).toLocaleDateString("en-MY", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                  })}
                </span>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</BaseLayout>

<style>
  h2,
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  hr {
    margin: 60px auto;
  }
</style>
